<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add the records</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'file/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid" >
  <div class="jumbotron" style="background-color:#d9edf7">
    <h1>Task list</h1>
  </div>
</div>

<div class="container-fluid" style="overflow-y:scroll">
    <table class="table" >
        <thead>
        <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Weight</th>
                <th>Dependent</th>
                <th>Scheduled week</th>
                <th>Delete</th>
                <th></th>
        </tr>
        </thead>
        <tbody>

        {% if data %}
        <p style="color:red">* {{data}}</p>
        {% endif%}

         <form action="addatask" method="POST">
                {% csrf_token %}
                <input type="text" name='id'placeholder="Id"/>
                <input type="text" name='des' placeholder="Description"/>
                <input type="text" name='weight' placeholder="Weight"/>
                <input type="text" name='pri' placeholder="Priority"/>
                <input type="text" name='dep' placeholder="Dependent"/>
                <input type="text" name='sw' placeholder="Scheduled week"/>
             <input type="submit" value="send"/>
         </form>
        </tbody>
</table>
</div>
</body>
</html>